
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 120 47% 20%;
    --card: 0 0% 100%;
    --card-foreground: 120 47% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 47% 20%;
    --primary: 120 20% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 33 24% 44%;
    --secondary-foreground: 0 0% 100%;
    --muted: 27 31% 83%;
    --muted-foreground: 25 30% 28%;
    --accent: 54 96% 90%;
    --accent-foreground: 27 30% 33%;
    --destructive: 24 98% 81%;
    --destructive-foreground: 0 0% 100%;
    --border: 33 24% 44%;
    --input: 33 24% 44%;
    --ring: 120 20% 33%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-secondary/20 shadow-lg;
}

.fade-up {
  @apply animate-fade-up;
}

.fade-in {
  @apply animate-fade-in;
}
